<!--
    Inicializa APENAS os nos relacionados a primeira fase 
-->
<launch>
    <node name="fase2" pkg="ger_drone" type="fase2.py" ns="/ger_drone" />
    <node name="led" pkg="ger_drone" type="led_simulado.py" ns="/ger_drone"/>

    <node name="mapa" pkg="ger_drone"  type="mapa.py" ns="/ger_drone" output="screen">
        <remap from="uav_state" to="/uav1/odometry/uav_state" />
        <param name="escrever" value="false"/>
        <param name="ler" value="true"/>
        <param name="imprimir" value="true"/>
    </node>

    <node name="detecta_sensor" pkg="ger_drone"  type="detecta_sensor.py" ns="/ger_drone" output="screen">
        <remap from="image_rect_color" to="/uav1/bluefox_optflow/image_rect_color"/>
        <remap from="camera_info" to="/uav1/bluefox_optflow/camera_info"/>
    </node>
    
</launch>